<header>
    <h1>Your Full App</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/feature">View All</a></li>
            <li><a href="/add">Make App</a></li>
        </ul>
    </nav>
</header>

<hr>